@property --color-1 {
  syntax: "<color>";
  inherits: true;
  initial-value: red;
}

@property --color-2 {
  syntax: "<color>";
  inherits: true;
  initial-value: rgb(255, 230, 0);
}

.canela-thin-italic {
  font-family: "CanelaThinItalic";
}

.canela-light {
  font-family: "CanelaLightItalic";
}

/* home */
.container {
  position: relative;
  overflow: hidden;
}

.content {
  height: 100vh;
  display: grid;
  place-items: center;
  z-index: 5;
  position: relative
}

.static-overlay {
  position: absolute;
  inset: -200%;
  background-image: url("noise.png");
  opacity: 25%;
  animation: shift 0.5s linear infinite both;
  
}

@keyframes shift {
  0% {
    transform: translateX(20%) translateY(20%)

  }
  100% {
    transform: translateX(-20%) translateY(-20%)

  }
}

.landing-text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: -30vh;
}

.cloud1 {
  position: absolute;
  bottom: -10vh;
  left: -10vw;
  z-index: 1;
  width: 60vw;
}

.cloud2 {
  position: absolute;
  bottom: 10vh;
  left: -30vw;
  width: 60vw;
}

.cloud3 {
  position: absolute;
  bottom: -20vh;
  right: -15vw;
  z-index: 1;
  width: 75vw;

}

.cloud4 {
  position: absolute;
  right: -35vw;
  z-index: 1;
  bottom: 10vh;
  width: 70vw;
}

.cloud5 {
  position: absolute;
  right: -15vw;
  top: -25vh;
  z-index: -1;
  width: 70vw;
}

.cloud6 {
  position: absolute;
  left: -10vw;
  z-index: 1;
  top: -40vh;
  width: 60vw;
}

.cloud7 {
  position: absolute;
  left: 20vw;
  z-index: 1;
  top: -23vh;
  width: 60vw;
}

.cloud8 {
  position: absolute;
  left: -20vw;
  z-index: 1;
  top: -17vh;
  width: 60vw;
}

.angel {
  position: absolute;
  z-index: 1;
  left: -5vw;
  bottom: 0;
  width: 35vw;
}

.lion {
  position: absolute;
  z-index: 1;
  left: -1vw;
  bottom: 30vh;
  width: 13vw;
}

.alice {
  z-index: 2;
  position: absolute;
  left: -2vw;
  top: 0;
  width: 10vw;
}

.elephant {
  z-index: 1;
  position: absolute;
  left: -1vw;
  top: -6vh;
  width: 30vw;
}

.saturn {
  position: absolute;
  z-index: 1;
  left: 13vw;
  bottom: -26vh;
  width: 20vw;
  rotate: 100deg;
}

.cat {
  position: absolute;
  z-index: 1;
  left: 25vw;
  bottom: -15vh;
  width: 20vw;
}

.womansmoke {
  position: absolute;
  z-index: 1;
  left: 32vw;
  bottom: -20vh;
  width: 28vw;
}

.womanlip {
  position: absolute;
  z-index: 2;
  right: -12vw;
  bottom: -20vh;
  width: 30vw;
}

.woman {
  position: absolute;
  z-index: 1;
  right: 10vw;
  bottom: -14vh;
  width: 18vw;
  rotate: -10deg;
}

.flower {
  position: absolute;
  z-index: 1;
  right: 35vw;
  bottom: -10vh;
  width: 13vw;
  rotate: -20deg;
}

.harp {
  position: absolute;
  z-index: 1;
  right: 20vw;
  bottom: -5vh;
  width: 20vw;
  transform: scaleX(1);
}

.dress {
  position: absolute;
  z-index: 1;
  right: 21vw;
  bottom: 20vh;
  width: 13vw;
}

.die {
  z-index: 2;
  position: absolute;
  left: 5vw;
  top: 18vh;
  width: 20vw;
  rotate: -50deg;
}

.reach {
  z-index: 1;
  position: absolute;
  left: 7vw;
  top: -10vh;
  width: 55vw;
}

.catfunny {
  position: absolute;
  z-index: 2;
  right: 2vw;
  top: -10vh;
  width: 40vw;
}

.moon {
  position: absolute;
  z-index: 1;
  right: 20vw;
  top: -15vh;
  width: 40vw;
}

.ship {
  position: absolute;
  z-index: 1;
  right: 45vw;
  top: -2vh;
  width: 20vw;
}

.angelcutout1 {
  position: absolute;
  z-index: 2;
  right: 2vw;
  top: -10vh;
  width: 30vw;
}

.angelcutout2 {
  position: absolute;
  z-index: 2;
  right: -2vw;
  top: 5vh;
  width: 30vw;
}

.angelcutout3 {
  position: absolute;
  z-index: 2;
  right: -6vw;
  top: 20vh;
  width: 30vw;
}

.butterfly1 {
  position: absolute;
  z-index: 2;
  left: 30vw;
  top: 5vh;
  width: 5vw;
}

.butterfly2 {
  position: absolute;
  z-index: 2;
  right: 7vw;
  bottom: 20vh;
  width: 5vw;
}

.circle {
  position: absolute;
  bottom: 40vh;
  right: 35vw;
  z-index: 3;
  width: 5vw;
  height: 8vh;
  border: 1px solid rgb(214, 213, 213);
  background-color: black;
  border-radius: 31% 45% 74% 35% / 38% 56% 51% 87%;
  transition: 0.5s;
  animation: animate-about2 12s linear infinite;
}

.circle::before{
  content: "→";
  color: white;
  font-size: 5vh;
  font-family: "CanelaReg";
  margin-left: 1.5vw;
}

.background-circle {
  position: absolute;
  bottom: 41vh;
  right: 34vw;
  z-index: -1;
  width: 5vw;
  height: 8vh;
  border: 1px solid rgb(214, 213, 213);
  border-radius: 31% 45% 74% 35% / 38% 56% 51% 87%;
  transition: 0.5s;
  animation: animate-about2 12s linear infinite;
}

/* about */

.who-i-am {
  font-size: 3vh;
  font-family: 'CanelaLightItalic';
  color: white;
}

.ladybug {
  width: 30vw; 
  animation: tilt 2s forwards infinite;
}

#hero-text {
  height: 140vh;
}

@keyframes tilt {
  0% {
    transform: rotate(0deg);
  }
  25% {
    transform: rotate(10deg);
  }
  50% {
    transform: rotate(0deg);
  }
  75% {
    transform: rotate(-10deg);
  }
  100% {
    transform: rotate(0deg);
  }
}

.die-about {
  z-index: 2;
  position: absolute;
  right: 10vw;
  bottom: 10vh;
  width: 15vw;
  rotate: 10deg;
  animation: tilt 2s linear infinite;
}

.marie-about {
  z-index: 2;
  position: absolute;
  left: 3vw;
  top: 35vh;
  width: 15vw;
  rotate: -5deg;
}

.angel-about {
  position: absolute;
  right: -2vw;
  top: 20vh;
  width: 27vw;
  opacity: 75%;
  transform: scaleX(-1);
}

.colour-gradient {
  background: linear-gradient(var(--color-1), var(--color-2));
  animation: changeColors 3s infinite alternate;
  -webkit-text-fill-color: transparent;
  background-clip: text;
}

@keyframes changeColors {
  0% {
    --color-1: rgb(229, 255, 0);
    --color-2: red;
  }
  50% {
    --color-1: rgb(255, 164, 164);
    --color-2: rgb(41, 16, 110);
  }
  100% {
    --color-1: blue;
    --color-2: red;
  }
}

.better-place {
  letter-spacing: 0.05em;
  font-family: Maeslstrom;
  text-shadow: 
    5px 5px 0px #ff3232;
}

#page-transition-name {
  animation: transitionIn 2s;
}

@keyframes transitionIn {
  from {
    opacity: 0; 
    transform: rotateX(-30deg);
  }
  to {
    opacity: 1;
    transform: rotateX(0);
  }
}


/* work */
.item {
  position: relative;
  width: 33.3333vw;
  height: 100vh;
  overflow: hidden;
}

.img-overlay {
  position: absolute;
  width: 100%;
  height:100%;
  top: 0;
  left: 0;
  background: #8f9aad95;
  transition: 0.5s cubic-bezier(0.075, 0.82, 0.165, 1);
}

.item-wrapper:hover .img-overlay {
top: -100%;
}

.item img {
  position: absolute;
  width: 100%;
  height:100%;
  object-fit: cover;
  transform: scale(1.1);
  transition: 3s cubic-bezier(0.075, 0.82, 0.165, 1);
  opacity: 0.3;
  z-index: -1;
  filter: brightness(70%);
}

.item-wrapper:hover img {
transform: scale(1);
filter: blur(5px);

}

.after-overlay {
  display:none;
  color: white;
} 

.item-wrapper:hover .after-overlay {
  display:contents;
} 

.item-name {
  color: white;
  font-family: "CanelaThinItalic";
  margin-top: 10%
}

.id {
  color: white;
  font-family: "CanelaBold";
  font-size: 20vh; 
  margin-top: 23%;
  }

.back-text {
  padding: 15% 12% 0 12%;
}

.bottom-text {
  padding: 40% 5% 0 5%;
}

.bottom-text-three {
  padding: 20% 5% 0 5%;
}

/* footer */
.marquee {
  display: flex;
  overflow: hidden;
  user-select: none;
  background: #ffffff;
  height:11vh;
  font-family: "CanelaBold";
  color: rgb(229, 0, 0);
  margin-top: 3%;
  font-size: 5vh;
  line-height: 2;
  gap: 1rem;
}

.marquee-content {
  flex-shrink: 0;
  display: flex;
  justify-content: space-around;
  min-width: 100%;
  gap: 1rem;
}

@keyframes scroll {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(calc(-100% - 1rem));
  }
}

.scroll {
  animation: scroll 10s linear infinite;
}

@media screen and (orientation: landscape) and (max-height: 400px) {
  #rotate-device-warning {
    display: none;
  }

  .lion {
    width: 18vw;
  }

  .die {
    top: 13vh;
  }

  .reach {
    width: 65vw;
    left: 2vw;
  }

  .angel {
    width: 40vw;
  }

  .womanlip {
    width: 35vw;
  }

  .womansmoke {
    width: 32vw;
  }
  
  .catfunny {
    width: 45vw;
    right: 3vw;
    top: -15vh;
  }

.ship {
  width: 25vw;
}

.angelcutout1 {
  width: 35vw;
}

.angelcutout2 {
  width: 35vw;
}

.angelcutout3 {
  width: 35vw;
}

.dress {
  width: 20vw;
  bottom: 10vh;
  right: 17vw;
}

.moon {
  width: 45vw;
}

.flower {
  bottom: -5vh;
  right: 33vw;
}

.saturn {
  bottom: -20vh;
}
}

@media screen and (orientation: portrait) {
  #rotate-device-warning {
    height: 100vh;
    display: grid;
    place-items: center;
    z-index: 5;
    color: #ffffff;
    font-family: "CanelaLightItalic";
    text-align: center;
    position: relative;
    padding: 15%;
    font-size: 5vw;
  }

  .angel-vertical {
    opacity: 70%;
    width: 400vh;
    top: 10vh;
    position: absolute;
  }

  .container{
    display: none;
  }
}

/* responsive css for smaller screens */
@media only screen and (max-height: 400px) {

  .who-i-am {
    font-size: 4vh;
  }

  #page-transition-name {
    font-size: 15vh;
    margin-left: 5%;
    margin-top: -5%;
  }

  #hero-text {
    height: 170vh;
  }

  .die-about {
    right: 11vw;
    bottom: 22vh;
    width: 20vw;
  }
  
  .marie-about {
    left: 1vw;
    top: 25vh;
    width: 20vw;
    rotate: -5deg;
  }
  
  .angel-about {
    position: absolute;
    right: -7vw;
    top: 5vh;
    width:35vw;
    opacity: 65%;
    transform: scaleX(-1);
  }

  .bottom-text-three {
    padding: 5% 5% 0 5%;
  }

  .marquee {
    font-size: 6vh;
  }

  .footer-text {
    font-size: 3vh;
    font-family: CanelaLight;
  }


}

@media only screen and (max-height: 500px) {
#rotate-device-warning {
  display: none;
}
}


